@{
        Layout = null;
    }
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/Editor.css">
        <title>Document</title>
    </head>

    <body>

        <div class="code-area">
            <div class="p-4 d-flex justify-content-around">
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <form asp-controller="Editor" asp-action="Create" enctype="multipart/form-data">
                <button type="submit" class="btn btn-xs btn-primary">Submit</button>
                <input type="file" name="Image" required />
                <label>Title</label>
                <input type="text" name="Title" />
                <textarea id="htmlCode" name="Html" placeholder="HTML Code" oninput="showPreview()"></textarea>
                <textarea id="cssCode" name="Css" placeholder="CSS Code" oninput="showPreview()"></textarea>
                <textarea id="jsCode" name="Js" placeholder="JavaScript Code" oninput="showPreview()"></textarea>
            </form>
        </div>
        <div class="preview-area">
            <iframe id="preview-window"></iframe>
        </div>
        <script src="~/js/site.js"></script>
    </body>

    </html>
