@model MaryoNetwork.Models.Editors.Editor

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Editor.css">
    <title>Document</title>
</head>

<body>

    <div class="code-area">
        <textarea id="htmlCode" placeholder="HTML Code" oninput="showPreview()">@Model.Html</textarea>
        <textarea id="cssCode" placeholder="CSS Code" oninput="showPreview()">@Model.Css</textarea>
        <textarea id="jsCode" placeholder="JavaScript Code" oninput="showPreview()">@Model.Js</textarea>
    </div>
    <div class="preview-area">
        <iframe id="preview-window"></iframe>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <script src="~/js/site.js"></script>
    <script type="text/javascript">
            window.onload = function () {
                alert("plz peress any key for display result");
            };
    </script>
</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}