@model List<MaryoNetwork.Models.Categories.Category>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Home Page";
}
@{
    string fullName = null;
    string id = null;
    byte[] image = null;
    if (SignInManager.IsSignedIn(User))
    {
        User user = await UserManager.FindByEmailAsync(User.Identity.Name);
        if (user != null)
        {
            fullName = user.FullName;
            id = user.Id;
            image = user.ProfilePicture;
        }


    }
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
        <div class="row">
            @foreach (var item in Model)
            {
                <a asp-controller="Post" asp-action="Index" asp-route-id="@item.Id" class="m-xl-2">
                    @item.Name
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" style="width:100%;" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="icofont-heart-beat"></i></div>

                        </div>
                    </div>
                </a>
            }
        </div>

    </div>



</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


