@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer


@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@localizer["Privacy Policy"]</h1>

<p>@localizer["Use this page to detail your site's privacy policy."]</p>
