@model MaryoNetwork.Models.Groups.Group

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Groups" asp-action="Create" enctype="multipart/form-data">
            <input type="file" name="Image" required />
            <label>Name</label>
            <input type="text" name="Name" />
            <button type="submit" class="btn btn-xs btn-primary">Submit</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

